@{
    int numberPage = ViewBag.numberPage;
    int pageCurrent = ViewBag.pageCurrent;
    int limit = ViewBag.limitContent;
    int countPost = ViewBag.countPost;
    if (limit <= countPost)
    {
        if (pageCurrent == 1)
        {
            int prevPage = pageCurrent + 1;
            var PrevLink = new Dictionary<string, string> { { "page", prevPage.ToString() } };
            <div class="d-flex justify-content-end mb-4">
                <a asp-controller="Home" asp-action="Index" asp-all-route-data="PrevLink" class="btn btn-primary text-uppercase">Next Link</a>
            </div>
        }
        else if (pageCurrent > 1 && pageCurrent < numberPage)
        {

            int prevPage = pageCurrent - 1;
            var PrevLink = new Dictionary<string, string> { { "page", prevPage.ToString() } };
            int nextPage = pageCurrent + 1;
            var NextLink = new Dictionary<string, string> { { "page", nextPage.ToString() } };
            <div class="d-flex justify-content-between mb-4">
                <a asp-controller="Home" asp-action="Index" asp-all-route-data="PrevLink" class="btn btn-primary text-uppercase">Prev Link</a>
                <a asp-controller="Home" asp-action="Index" asp-all-route-data="NextLink" class="btn btn-primary text-uppercase">Next Link</a>
            </div>
        }
        else if (pageCurrent == numberPage)
        {
            int nextPage = pageCurrent - 1;
            var NextLink = new Dictionary<string, string> { { "page", nextPage.ToString() } };
            <div class="d-flex justify-content-start mb-4">
                <a asp-controller="Home" asp-action="Index" asp-all-route-data="NextLink" class="btn btn-primary text-uppercase">Prev Link</a>
            </div>
        }
    }
}