@using JustBlog.Models.Entities
@model IEnumerable<Post>
@{
    ViewData["Title"] = "Home Page";
}

<h2 class="post-title">5 Highest Rate Posts!</h2>
<hr />
<div class="d-flex justify-content-center">
    <a href="/Home" class="btn btn-primary me-2 rounded-1" aria-current="page">All</a>
    <a href="/Home/MostView" class="btn btn-primary me-2 rounded-1">Most View</a>
    <a href="#" class="btn btn-primary active rounded-1">Highest Rate</a>
</div>
@await Html.PartialAsync("_ShowPosts", Model)